input/*
results/*

media/raw_files/*
media/first_pass_input/*
media/raw_frames/*
media/frame_crops/*
media/processed_frames/*
media/second_pass_input/*


!input/.gitkeep
!results/.gitkeep

!media/raw_files/.gitkeep
!media/first_pass_input/.gitkeep
!media/raw_frames/.gitkeep
!media/frame_crops/.gitkeep
!media/processed_frames/.gitkeep
!media/second_pass_input/.gitkeep